$dark-blue-main: #006D77;
$light-blue-main: #83C5BE;
$light-main: #EDF6F9;
$light-brown-main: #FFDDD2;
$dark-brown-main: #E29578;
$default-shadow-color:rgba(0,0,0,.25);
$danger-color:#ef233c;
$danger-shadow:rgba(239,35,60,.6);
$default-border-radius: 4px;
