// $dark-blue-main: #006D77;
// $light-blue-main: #83C5BE;
// $light-main: #EDF6F9;
// $light-brown-main: #FFDDD2;
// $dark-brown-main: #E29578;
$default-shadow-color: rgba(0, 0, 0, 0.5);
$danger-color: #FFBEA9;
$danger-shadow: rgb(239, 35, 60);
$default-border-radius: 4px;
// $new-design-peach: #FFBEA9;
// $new-design-blue: #65CFC4;
// $new-design-dull-blue: #83c5be;

// New variables for colors
$text-main: #000000;
$decline: #C58383;
$accept: #90C583;
$active: #65CFC4;
$main: #83C5BE;
$background: #EDF6F9;
$bg-secondary: #EDF6F9;
$border-default: #2c3e50;
$bg-menu: #D6ECF3;
$bg-green: #d5ecea;


//NEW COLORS FROM NEW DESIGN
$light-text: #8E8E8E;
$second-gray: #D9D9D9;
$main-gray: #D3DFE3;
$main-gray-text: #5C6669;