// $dark-blue-main: #006D77;
// $light-blue-main: #83C5BE;
// $light-main: #EDF6F9;
// $light-brown-main: #FFDDD2;
// $dark-brown-main: #E29578;
$default-shadow-color:rgba(0,0,0,.25);
$danger-color:#FFBEA9;
$danger-shadow:rgba(239,35,60,.6);
$default-border-radius: 4px;
// $new-design-peach: #FFBEA9;
// $new-design-blue: #65CFC4;
// $new-design-dull-blue: #83c5be;

// New variables for colors
$text-main: #000000;
$decline: #C58383;
$accept: #90C583;
$active: #65CFC4;
$main: #83C5BE;
$background: #EDF6F9;
$bg-secondary: #EDF6F9;
$border-default: #2c3e50;
$bg-menu: #D6ECF3
